* {
    margin: 0%;
    padding: 0%;
    font-size: 14px;
}

body {
    font-family: "Helvetica Neve", sans-serif;
}

#index {
    background-image: url(img/technology-4091432_1280.png);
}

#blog {
    background-image: url(img/background-blog.jpg);
    background-size: 100vw;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0 2rem;
}

.all header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 70px;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.all h1 {
    margin-right: auto;
}

.all h1 img {
    width: 15rem;
}

.all header nav {
    width: 25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.all header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.all header nav ul li {
    list-style-type: none;
    margin-right: 0.8rem;
}

.all header nav ul li a {
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.all header nav ul li a:hover {
    opacity: 0.6;
    background-color: #fff;
    padding: 1px;
    border-radius: 5px;
    transition: 0.2s;

    color: #0B0B61;

}

.conteudo {
    display: grid;
    grid-template-columns: 25% 50% 25%;

    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

#conteudoprincipal {
    display: grid;
    grid-column-start: 2;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 5px;
    margin-right: 20px;

    border: 2px solid black;

    color: #fff;
}

#conteudosecundario {
    display: grid;
    grid-column-start: 3;

    height: min-content;

    color: #000;
}

#anuncios {
    display: grid;
    grid-column-start: 1;

    height: min-content;

    color: #000;
}

#anuncios img {
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    width: 100vw;
    height: 150px;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    padding-left: 3rem;

    margin-top: 38rem;
    background-color: #000;
    color: #fff;
}

#footer p {
    width: 50rem;
}